<div class="container-fluid">
    <div class="d-flex justify-content-center mb-2">
        <mat-icon class="icon">help_outline</mat-icon>
    </div>
    <div class="d-flex justify-content-center">
        <h2>{{data.mainMsg}}</h2>
    </div>
    <div class="d-flex justify-content-center">
        <span class="sub-text">{{data.subMsg}}</span>
    </div>
    <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary" (click)="onCancel()">{{'cancel' | translate}}</button>
        <button mat-stroked-button color="primary" (click)="onConfirm()">{{'confirm' | translate}}</button>
    </div>
</div>