<mat-drawer-container class="h-100" autosize>
    <mat-drawer #drawer mode="side" (openedChange)="onOpenChange($event)">
        <app-side-menu></app-side-menu>
    </mat-drawer>
    <mat-drawer-content>
        <nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
            <div class="container-fluid d-flex">
                <div class="navbar-brand my-auto">
                    <button mat-icon-button color="accent" (click)="drawer.toggle()">
                        <mat-icon *ngIf="!isSideNavOpen" class="fade">menu</mat-icon>
                        <mat-icon *ngIf="isSideNavOpen" class="fade">menu_open</mat-icon>
                    </button>
                    <a href="#" class="my-auto">
                        <img src="../favicon.ico" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    </a>
                    <span class="ms-1 my-auto">{{'app.title' | translate}}</span>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link clickable" [class.active]="currentPage === 'home'"
                                (click)="navigate('home')">Home</a>
                        </li>
                        <li class="nav-item clickable">
                            <a class="nav-link" [class.active]="currentPage === 'about'"
                                (click)="navigate('about')">About</a>
                        </li>
                    </ul>
                    <button mat-stroked-button color="primary" [routerLink]="['auth', 'login']" *ngIf="roles.length === 0">{{'login' |
                        translate}}</button>
                    <img *ngIf="roles.length > 0" [src]="(profile | async)?.picture" class="avatar clickable" [matMenuTriggerFor]="menu">
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logOut()">
                          <mat-icon>logout</mat-icon>
                          <span>{{'log-out' | translate}}</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>