.main-background {
    &.dark-theme {
        mat-drawer-container {
            background-color: #000000;
            background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
            width: 100%;
            height: 100%;
            color: white;

            .bg-dark {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .side-nav-btn {
                font-size: 25px;
                position: absolute;
                top: 50%;
                transform: translateX(-17px);
            }

            .mat-drawer {
                background-color: #2b2b2b;
            }

            .menu-navbar {
                position: relative;
                text-decoration: none;
                display: inline-block;
            }

            .menu-navbar:after {
                display: block;
                content: "";
                border-bottom: solid 3px #15e2ed;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
                transform-origin: 100% 50%;
            }
            .menu-navbar:hover:after {
                transform: scaleX(1);
                transform-origin: 0 50%;
            }
        }

        .mat-menu-panel {
            background-color: #2b2b2b !important;

            .mat-menu-item {
                color: #ffffff;
                .mat-icon {
                    font-size: 20px;
                }
            }

            .mat-icon {
                color: #15e2ed;
            }
        }

        .mat-dialog-container {
            background-color: #000000;
            background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
            padding: 0px;
        }

        .account-image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .mat-expansion-panel {
            background-color: #6e6e6e;
            .mat-expansion-panel-header {
                .mat-content {
                    .mat-expansion-panel-header-title {
                        color: #ffffff;
                    }
                    .mat-expansion-panel-header-description {
                        color: #15e2ed;
                    }
                }
            }
        }

        .mat-card {
            background-color: rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.2),
                0px 1px 1px 0px rgba(255, 255, 255, 0.14),
                0px 1px 3px 0px rgba(255, 255, 255, 0.12);

            .mat-card-title {
                color: #ffffff;
            }

            .mat-card-subtitle {
                color: #ffffff;
            }

            .mat-divider {
                border-top-color: rgba(255, 255, 255, 0.5);
            }
        }

        .mat-button-toggle {
            background: transparent;
            .mat-button-toggle-button {
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
        .mat-button-toggle-checked {
            background: rgba(255, 255, 255, 0.4);
        }

        .mat-form-field {
            .mat-form-field-label {
                color: #15e2ed;
            }
            .mat-form-field-infix {
                color: #ffffff;
                caret-color: #ffffff;
            }
            .mat-form-field-underline {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

        .menu-language {
            color: rgba(255, 255, 255, 0.7);
        }

        .mat-select {
            .mat-select-value {
                color: #ffffff;
            }

            .mat-select-arrow {
              color: #119da4;
            }
        }

        .mat-select-panel {
            background-color: #2b2b2b !important;

            .mat-option-text {
                color: #ffffff;
            }
        }

        .flag-img {
          max-width: 30px;
        }
    }

    &.white-theme {
    }
}

// Ultilities SCSS
.remove-focus:focus {
    outline: none !important;
}

.search-select {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
