<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
        <div class="side-menu">
            <div class="row d-flex justify-content-center my-3">
                <img class="account-image side-menu" [src]="profileImage" />
            </div>
            <div class="row">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon fontSet="fa" fontIcon="fa-store" [inline]="true"></mat-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                                {{'app.shops' | translate}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [vertical]="vertical" class="w-100">
                            <mat-button-toggle value="profile">
                                <div class="d-flex justify-content-between">
                                    <span class="ml-3">{{'app.import' | translate}}</span>
                                    <mat-icon fontSet="fa" fontIcon="fa-truck-loading" color="accent" [inline]="true">
                                    </mat-icon>
                                </div>
                            </mat-button-toggle>
                            <mat-button-toggle value="shop">
                                <div class="d-flex justify-content-between">
                                    <span class="ml-3">{{'app.sell' | translate}}</span>
                                    <mat-icon fontSet="fa" fontIcon="fa-shopping-cart" color="accent" [inline]="true">
                                    </mat-icon>
                                </div>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-drawer>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">POS SYSTEM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link menu-navbar" href="#">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link menu-navbar" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link menu-navbar" href="#">About</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <select class="form-control search-select" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search"
                        aria-label="Search">
                    <button mat-icon-button color="primary">
                        <mat-icon fontSet="fa" fontIcon="fa-search" color="accent" [inline]="true">
                        </mat-icon>
                    </button>
                    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                        <mat-icon *ngIf="!isLogin" fontSet="fa" fontIcon="fa-user-circle" color="primary"
                            [inline]="true">
                        </mat-icon>
                        <img *ngIf="isLogin" class="account-image" [src]="profileImage" />
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="!isLogin" [routerLink]="'login'">
                            <mat-icon fontSet="fa" fontIcon="fa-sign-in-alt" color="primary"></mat-icon>
                            <span>Sign In</span>
                        </button>
                        <button *ngIf="isLogin" mat-menu-item [routerLink]="'user'">
                            <mat-icon fontSet="fa" fontIcon="fa-users-cog" color="primary"></mat-icon>
                            <span>Setting</span>
                        </button>
                        <button *ngIf="isLogin" mat-menu-item (click)="LogOut()">
                            <mat-icon fontSet="fa" fontIcon="fa-sign-out-alt" color="primary"></mat-icon>
                            <span>Log out</span>
                        </button>
                        <div class="p-2">
                            <mat-label class="menu-language mb-1">Choose language</mat-label>
                            <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage($event)">
                                <mat-option *ngFor="let lang of languages" [value]="lang.value">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <img class="flag-img" [src]="'../assets/icon/' + lang.value + '.png'" />
                                        </div>
                                        <div>
                                            {{lang.name}}
                                        </div>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </div>
                    </mat-menu>
                </div>
            </div>
        </nav>
        <button mat-icon-button *ngIf="isLogin" (click)="drawer.toggle(); ToggleNavIcon()"
            class="side-nav-btn remove-focus" color="primary">
            <mat-icon fontSet="fa" fontIcon="fa-chevron-circle-right" [inline]="true" [@rotatedState]='state'>
            </mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<ngx-spinner type="square-jelly-box"></ngx-spinner>