<div class="container-fluid p-5">
    <div class="row d-flex justify-content-center">
        <h1>{{'user-setting.title' | translate}}</h1>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar><img class="profile-image" [src]="(user$ | async)?.photoURL" /></div>
                    <mat-card-title>{{(user$ | async)?.displayName}}</mat-card-title>
                    <mat-card-subtitle>{{(user$ | async)?.email}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-divider class="mb-2"></mat-divider>
                    <p>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [vertical]="vertical" class="w-100">
                            <mat-button-toggle value="profile">
                                <div class="d-flex justify-content-start">
                                    <mat-icon fontSet="fa" fontIcon="fa-address-card" color="accent" [inline]="true">
                                    </mat-icon>
                                    <span class="ml-3">{{'user-setting.profile' | translate}}</span>
                                </div>
                            </mat-button-toggle>
                            <mat-button-toggle value="shop">
                                <div class="d-flex justify-content-start">
                                    <mat-icon fontSet="fa" fontIcon="fa-store" color="accent" [inline]="true">
                                    </mat-icon>
                                    <span class="ml-3">{{'user-setting.shop' | translate}}</span>
                                </div>
                            </mat-button-toggle>
                            <mat-button-toggle value="change-password">
                                <div class="d-flex justify-content-start">
                                    <mat-icon fontSet="fa" fontIcon="fa-key" color="accent" [inline]="true">
                                    </mat-icon>
                                    <span class="ml-3">{{'user-setting.change-password' | translate}}</span>
                                </div>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
