h1 {
  color: #cccc02;
  font-size: 32px;
  text-shadow: 1px 1px 1px #ffffff;
}

.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.mat-card {
    .mat-divider {
        position: relative;
    }
}

