.login-container {
    padding-top: 40vh;
    .google-login-btn {
        width: 20vw;
        height: 10vh;
        background-color: #2a2a72;
        background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
        color: #FFF;
        font-size: 20px;
        
        mat-icon {
            font-size: 30px;
            float: left;
        }
    }
}