<div class="container-fluid p-5 signup-container">
    <div class="row d-flex justify-content-center">
        <h1>{{'authentication.login.sign-up.title' | translate}}</h1>
    </div>
    <form [formGroup]="profileForm">
        <div class="row d-flex justify-content-center my-2">
            <img class="profile-image" [src]="(user$ | async)?.photoURL" />
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>{{'authentication.login.sign-up.name' | translate}}</mat-label>
                            <input matInput formControlName="name" readonly>
                            <mat-icon matSuffix fontSet="fa" fontIcon="fa-signature" [color]="'accent'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>{{'authentication.login.sign-up.email' | translate}}</mat-label>
                            <input matInput formControlName="email" readonly>
                            <mat-icon matSuffix fontSet="fa" fontIcon="fa-at" [color]="'accent'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>{{'authentication.login.sign-up.phone' | translate}}</mat-label>
                    <input matInput formControlName="phone">
                    <mat-icon matSuffix fontSet="fa" fontIcon="fa-phone" [color]="'accent'"></mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div formGroupName="address">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <mat-form-field class="w-100">
                        <mat-label>{{'authentication.login.sign-up.street' | translate}}</mat-label>
                        <input matInput formControlName="street">
                        <mat-icon matSuffix fontSet="fa" fontIcon="fa-road" [color]="'accent'"></mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>{{'authentication.login.sign-up.ward' | translate}}</mat-label>
                                <input matInput formControlName="ward">
                                <mat-icon matSuffix fontSet="fa" fontIcon="fa-location-arrow" [color]="'accent'">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>{{'authentication.login.sign-up.district' | translate}}</mat-label>
                                <input matInput formControlName="district">
                                <mat-icon matSuffix fontSet="fa" fontIcon="fa-location-arrow" [color]="'accent'">
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>{{'authentication.login.sign-up.city' | translate}}</mat-label>
                                <input matInput formControlName="city">
                                <mat-icon matSuffix fontSet="fa" fontIcon="fa-city" [color]="'accent'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>{{'authentication.login.sign-up.nation' | translate}}</mat-label>
                                <input matInput formControlName="nation">
                                <mat-icon matSuffix fontSet="fa" fontIcon="fa-globe-asia" [color]="'accent'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <button mat-raised-button color="primary" (click)="signUp()">{{'authentication.login.sign-up.sign-up' |
                translate}}</button>
        </div>
    </form>
</div>