.signup-container {
    h1 {
        color: #cccc02;
        font-size: 32px;
        text-shadow: 1px 1px 1px #ffffff;
    }

    .profile-image {
        width: 100px;
        border-radius: 50%;
        border: 1px dotted rgba(255, 255, 255, 0.3);
    }
}

